html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}


.sceneContainerParents {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: violet;
}

.sceneContainer {
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    background: transparent;
}

.canvas {
    background: transparent;
    left: 0;
    z-index: 10;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}